* {
    background-color: rgb(237, 235, 161);
}
h1 {
    color: rgb(197, 0, 0);
    background-color: rgb(120, 152, 205);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
    border: 30px solid rgb(90, 138, 200);
}

.flag {
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 25.5px;
    left: 5px;
}


 /* Nav Bar Stuff */
.topnav {
    background-color: rgb(90, 138, 200);
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.topnav a {
    float: left;
    color: #000b3b;
    text-align: center;
    padding: 14px 140px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(90, 138, 200);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  }

.topnav a:hover {
  background-color: #3330e9;
  color: rgb(0, 0, 0);
  }
 
  /* Pablo */

  .Mp1 {
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 255px;
    left: 35px;

  }
.M1 {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 15px;
 position: absolute;
 right: 200px;
 left: 45px;
 text-align: left;
 top: 570px;
}
.M2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 45px;
  text-align: left;
  top: 590px;
 }
 .M3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 45px;
  text-align: left;
  top: 610px;
 }
 .M4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 45px;
  text-align: left;
  top: 630px;
 }
 .M5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 45px;
  text-align: left;
  top: 650px;
 }

  /* Maria */
  .Ap1 {
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 255px;
    left: 385px;

  }
.A1 {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 15px;
 position: absolute;
 right: 200px;
 left: 395px;
 text-align: left;
 top: 570px;
}
.A2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 395px;
  text-align: left;
  top: 590px;
 }
 .A3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 395px;
  text-align: left;
  top: 610px;
 }
 .A4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 395px;
  text-align: left;
  top: 630px;
 }
 .A5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 395px;
  text-align: left;
  top: 650px;
 }
  /* Juan */

  .Rp1 {
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 255px;
    left: 735px;
  }
  .R1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    right: 200px;
    left: 745px;
    text-align: left;
    top: 570px;
   }
   .R2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 745px;
    text-align: left;
    top: 590px;
    }
    .R3 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     position: absolute;
     left: 745px;
     text-align: left;
     top: 610px;
    }
   .R4 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      position: absolute;
      left: 745px;
      text-align: left;
      top: 630px;
     }
    .R5 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      position: absolute;
      right: 200px;
      left: 745px;
      text-align: left;
      top: 650px;
     }
 /* Manuela */
     .Kp1 {
      display: inline-block;
      margin: 10px;
      position: absolute;
      top: 255px;
      left: 1085px;
    }
    
    .K1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      position: absolute;
      right: 200px;
      left: 1090px;
      text-align: left;
      top: 570px;
     }
     
     .K2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      position: absolute;
      left: 1090px;
      text-align: left;
      top: 590px;
      }
     
      .K3 {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 15px;
       position: absolute;
       left: 1090px;
       text-align: left;
       top: 610px;
      }
     .K4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        position: absolute;
        left: 1090px;
        text-align: left;
        top: 630px;
       }
       .K5 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        position: absolute;
        left: 1090px;
        text-align: left;
        top: 650px;
       }